<div class="Container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Home">Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/api/products">Productos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/cart/644afbd4483344a1d2570cbc">Carrito</a>
        </li>
    </ul>
       <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-light" href="/user/register" role="button">Registrar</a>
        <a class="btn btn-outline-light" href="/user/login" role="button">Login</a>
        </div>
</div>
</nav>
</div>

<div class="container">
<figure class="text-center">
  <blockquote class="blockquote">
    <h3><ins>Logueate usando Github!</ins></h3>
  </blockquote>
<a class="btn btn-success" href="/api/sessions/github" role="button">Entrar con Github</a>
</figure>
    <p class="lead">No quieres usar Github? Puedes usa nuestros enlaces:</p>
    <p>¿No estás registrado? <a href="/user/register">Regístrate aquí</a></p>
    <p>¿Ya tienes cuenta con nosotros? <a href="/user/login">Haz Login aquí</a></p>
</div>
