
	
    <div class="container">
    <div class="d-raw text-center">
        <hi class="h3">{{title}} </hi>
    </div>
    <divclass="row">
        {{#each manager}}
    <ul class="list-group">
        <li class="list-group-item">{{this.title}}</li>
    </ul>
        {{/each}}  
    </div>
    </div>
