
<div class="Container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Home">Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/products">Productos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="api/carts/carts/644afbd4483344a1d2570cbc">Carrito</a>
        </li>
    </ul>
       <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-light" href="/user/register" role="button">Registrar</a>
        <a class="btn btn-outline-light" href="/user/login" role="button">Login</a>
        </div>
</div>
</nav>
</div>
<div class="container">
<form id="loginForm">
  <div class="form-group">
    <label for="exampleInputEmail1">email</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Ingrese el email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" name="password" placeholder="Ingrese la contraseña">
  </div>
  <button type="submit" class="btn btn-primary">ingresar</button>
</form>
<p>Si no esta registrado y desea registrar<a href="/user/register">Haga click aquí</a></p>
<p>¿Tienes cuenta de Github? <a href="/github/login">Haz login por Github</a></p>
</div>
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>