<div class="Container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Home">Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href='/extend/products'>Productos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href='api/extend/carts/carts/644afbd4483344a1d2570cbc'>Carrito</a>
        </li>
    </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-light" href='/user/register' role="button">Registrar</a>
        <a class="btn btn-outline-light" href='/user/login' role="button">Login</a>
      </div>
</div>
</nav>
</div>

<div>
    <h3>{{message}} </h1>

</div>
